.hero2-main {
  /* position: relative; */
  height: 40vh;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.hero-div {
  position: absolute;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.5); */
  margin-left: 90px;
  margin-bottom: 90px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  text-shadow: 2px 0px 0 rgba(77, 75, 75, 0.5);
  flex: 3;
}

.hero-div > p {
  font-size: 1.5em;
}

.hero2-img {
  object-fit: cover;
  border-radius: 0;
  /* filter: grayscale(50%); */
}

.input-container {
  align-items: center;
  height: 100px;
  width: 500px;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.5rem;
  padding-left: 10px;
  text-align: center;
}

button {
  margin: 10 10px;
  height: 60px;
  width: 105px;
  border-radius: 20px;
  background-color: orange;
  font-size: 1em;
  font-weight: bold;
}
