.recipe-cards-container {
  display: flex;
  margin: 40px;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: end; */
  padding-top: 200px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  margin: 18px;
  align-content: center;
  width: 400px;
  height: 450px;
  /* border: 2px solid #857f7f; */
  border-radius: 30px;
}

.recipe-card img {
  width: 400px;
  height: 280px;
  border-radius: 30px;
}

.recipe-description {
  /* margin: 5px;
  padding: 5px; */
  padding-left: 20px;
  flex-wrap: wrap;
  width: 400px;
  height: 200px;
  align-self: center;
  background-color: white;
  border-radius: 30px;
}

.recipe-description p {
  font-weight: bold;
  color: rgb(121, 118, 118);
}
